@charset 'utf-8';

.slider-menu-wrap {
  padding-top: 12rem;
  display: flex;
  gap: 2rem;
  /* border: 1px solid #000; */
}

.menu-card {
  position: relative;
  width: 90%;
  /* width: 22.2396vw; */
  aspect-ratio: 1/0.579;
  border-radius: 10px;
  overflow: hidden;
  /* margin: 0 1rem; */
  margin-right: 2rem;
  word-break: keep-all;
}

.menu-txt-slider {
  flex: 1 0 48%;
}

.menu-con-slider-wrap {
  flex: 1 0 48%;
}

.menu-text-card {
  background: #fff;
  padding-right: 2rem;
}

.menu-text-card strong {
  font-weight: 700;
  font-size: 2rem;
  color: var(--main-color);
  margin-top: 2rem;
}

.menu-text-card h3 {
  font: 9rem/1.1 "Pretendard", sans-serif;
  font-size: clamp(5rem, 5vw, 9rem);
  font-weight: 700;
  color: var(--title-color);
  word-break: keep-all;
  margin-top: 2.8rem;
}

.menu-text-card p {
  width: 30vw;
  margin-top: 1.5rem;
  word-break: keep-all;
}

.menu-text-card .btn-more {
  margin-top: 6rem;
}

.menu-con-slider {
  width: 50vw;
  aspect-ratio: 1/0.62012;
}

.menu-con-slider-wrap .swiper-pagination {
  top: 105% !important;
  color: var(--main-color);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--main-color);
}

.menu-card figure {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 206, 50, 0.2);
}

.menu-card figure img {
  scale: 0.8;
  object-fit: contain;
}

.menu-card .menu-name {
  opacity: 0;
  transition: 0.4s;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10.2rem;
  background: var(--main-color70);
  color: var(--white100);
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
}

.menu-card:hover .menu-name {
  opacity: 1;
}

.menu-card:hover::before {
  opacity: 0;
}

.reward {
  margin: 12rem 0;
}

.reward-item {
  /* margin-top: 3rem; */
  margin-top: 1.5625vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.reward-item li {
  width: 100%;
  gap: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--main-color10);
  border-radius: 10px;
  padding: 3.4rem 3rem;
  word-break: keep-all;
}

.reward-txt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reward-item li strong {
  font-weight: 600;
  color: var(--main-color);
}

.reward-txt p {
  font-size: 1.8rem;
}

.reward-item figure {
  max-width: 9.3rem;
  min-width: 9.3rem;
  width: 9.3rem;
  aspect-ratio: 1/1;
  background: var(--white100);
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--sub-color);
}

@media (max-width: 1024px) {
  .main-title {
    width: 50vw;
    min-width: 35rem;
  }

  .slider-menu-wrap {
    flex-wrap: wrap;
  }

  .menu-con-slider-wrap {
    width: 100%;
  }

  .menu-con-slider {
    width: 90%;
    min-height: 25rem;
  }

  .menu-text-card {
    text-align: center;
  }

  .menu-card figure img {
    scale: 1;
  }

  .menu-text-card p {
    width: 80%;
    margin: 0.7rem auto 0 auto;
  }

  .menu-text-card .btn-more {
    margin: 2rem auto;
  }

  .menu-card {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .reward-item li {
    flex-direction: column;
  }

  .reward-txt {
    text-align: center;
  }
}
